body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body,
input,
textarea,
select,
button,
table {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Noto Sans", sans-serif;
}

em,
address {
  font-style: normal;
}
em {
  color: red;
}

ul,
li,
ol {
  list-style: none;
}
